<div nz-row>
    <div nz-col nzSpan="24">
      <nz-card [nzBordered]="true" nzTitle="Roles" [nzExtra]="extraTemplate">
        <nz-table
          nzShowSizeChanger
          [nzLoading]="dataLoading"
          [nzData]="data"
          [nzFrontPagination]="false"
          nzSize="small"
          [nzTotal]="total"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          [nzHideOnSinglePage]="true"
          [nzBordered]="true"
          [nzPageSizeOptions]="[100, 500]"
          [nzScroll]="{ y: '640px' }"
          (nzQueryParams)="onQueryParamsChange($event)"
          [nzShowTotal]="totalTemplate"
        >
          <thead>
            <tr>
              <th nzColumnKey="rolename" nzCustomFilter>
                Role Name
                <nz-filter-trigger
                  [(nzVisible)]="visible"
                  [nzActive]="searchValue.length > 0"
                  [nzDropdownMenu]="menu"
                  >
                  <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
              </th>
              <th nzColumnKey="">Tools</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of data">
              <td>{{ data.rolename }}</td>
              <td>
                <a
                  nz-button
                  nzDanger
                  nzSize="small"
                  style="margin-right: 20px"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to delete?"
                  (nzOnConfirm)="deletetag(data.roleid)"
                  >Delete</a
                >
                <a
                  nz-button
                  [routerLink]="['/role-perm', 'update', data.roleid]"
                  nzType="primary"
                  nzSize="small"
                  >Edit</a
                >
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
      <ng-template #extraTemplate>
        <a nz-button routerLink="/role-perm/create" nzType="primary">Create</a>
      </ng-template>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <!-- <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input type="text"
              nz-input
              placeholder="search role name"
              [ngModel]="searchValue"
            />
            <button
              nz-button
              nz-Size="small"
              class="search-button"
              nzType="primary"
              (click)="search()">
              search
            </button>
            <button
            style="margin-top: 10px;"
              nz-button
              nzSize="small"
              (click)="reset()">
              reset
            </button>
          </div>
        </div> -->
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input
              type="text"
              nz-input
              placeholder="Search role"
              [(ngModel)]="searchValue"
            />
            <button
              nz-button
              nzSize="small"
              nzType="primary"
              (click)="search()"
              class="search-button"
            >
              Search
            </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu>
    </div>
  </div>
  <ng-template #totalTemplate> Total : {{ total }} </ng-template>
