<nz-layout>
  <nz-content>
    <div  *ngIf="changePasswordisVisible" style="width: calc(100vw); height: calc(100vh)">
      <div nz-row>
        <div nz-col nzSpan="8"></div>
        <div nz-col nzSpan="8" style="margin-top: 200px">
          <nz-card nzTitle="Change Password">
            <form
              nz-form
              [formGroup]="changePassworForm"
              class="login-form"
              (ngSubmit)="submitLoginForm()"
            >
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input new password!">
                  <nz-input-group nzPrefixIcon="user">
                    <input
                      type="password"
                      nz-input
                      required
                      formControlName="lmsuserpassword"
                      placeholder="Password"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control nzErrorTip="Please confirm password!">
                  <nz-input-group nzPrefixIcon="lock">
                    <input
                      type="password"
                      nz-input
                      required
                      formControlName="lmsuserconfirmpassword"
                      placeholder="Confirm Password"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <button
                nz-button
                type="button"
                (click)="submitLoginForm()"
                class="login-form-button login-form-margin"
                [nzType]="'primary'"
              >
                Change Password
              </button>
              <button
                nz-button
                routerLink="/auth/login"
                type="button"
                class="login-form-button login-form-margin"
                [nzType]="'primary'"
              >
                Home
              </button>
            </form>
          </nz-card>
        </div>
        <div nz-col nzSpan="8"></div>
      </div>
    </div>
  </nz-content>
</nz-layout>
