<ngx-spinner></ngx-spinner>
<nz-layout class="layout">
  <nz-sider nzCollapsible [nzTrigger]="null" style="max-width: 400px;width: auto;">
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Settings" nzIcon="setting" *ngxPermissionsOnly="[
        'view_documenttag',
        'view_questiontag',
        'view_country',
        'view_school',
        'view_standard',
      ]">
        <ul>
          <li nz-menu-item routerLink="/documenttag/index" *ngxPermissionsOnly="['view_documenttag']">Document Tags</li>
          <li nz-menu-item routerLink="/questiontag/index" *ngxPermissionsOnly="['view_questiontag']">Question Tags</li>
          <li routerLink="/country/index" nz-menu-item *ngxPermissionsOnly="['view_country']">
            <span>Countries</span>
          </li>
          <li routerLink="/school/index" nz-menu-item *ngxPermissionsOnly="['view_school']">
            <span>Schools</span>
          </li>
          <li routerLink="/standard/index" nz-menu-item *ngxPermissionsOnly="['view_standard']">
            <span>Class</span>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Dashboard" nzIcon="setting"
      *ngxPermissionsOnly="[
      'view_plus_reach', 'view_reach_school', 'view_impact', 'view_fees_collection', 'view_tech_downtime'
      ]">
        <ul>
          <li routerLink="/dashboard/index" nz-menu-item *ngxPermissionsOnly="['view_plus_reach']">
            <span>Reach</span>
          </li>
          <li routerLink="/dashboard/school" nz-menu-item *ngxPermissionsOnly="['view_reach_school']">
            <span>Reach-School</span>
          </li>
          <li routerLink="/dashboard/app-usage" nz-menu-item *ngxPermissionsOnly="['view_impact']">
            <span>Impact</span>
          </li>
          <li [routerLink]="['dashboard/school-contribute']" nz-menu-item *ngxPermissionsOnly="['view_fees_collection']">
            <span>Fees Collection</span>
          </li>
          <li routerLink="/dashboard/tech-downtime" nz-menu-item *ngxPermissionsOnly="['view_tech_downtime']">
            <span>Tech Downtime</span>
          </li>
        </ul>
      </li>
      <!-- <li nz-submenu nzTitle="Student Dashboard" nzIcon="setting">
        <ul>
          <li nz-submenu nzTitle="Quiz" nzIcon="setting">
            <ul>
              <li routerLink="/report/student-completed-quiz" nz-menu-item *ngxPermissionsOnly="['view_student']">
                <span>Quiz Scores</span>
              </li>
              <li routerLink="/report/student-last-completed-quiz" nz-menu-item *ngxPermissionsOnly="['view_student']">
                <span>Last Quiz</span>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Progress" nzIcon="setting">
            <ul>
              <li routerLink="/report/student-grade-progress" nz-menu-item *ngxPermissionsOnly="['view_student']">
                <span>Grade</span>
              </li>
              <li routerLink="/report/student-level-progress" nz-menu-item *ngxPermissionsOnly="['view_student']">
                <span>Level</span>
              </li>
              <li routerLink="/report/student-lesson-progress" nz-menu-item *ngxPermissionsOnly="['view_student']">
                <span>Lesson</span>
              </li>
            </ul>
          </li>
          <li routerLink="/report/student-activity" nz-menu-item *ngxPermissionsOnly="['view_student']">
            <span>Student Activity</span>
          </li>
        </ul>
      </li> -->
      <li nz-submenu nzTitle="Student Dashboard" nzIcon="setting" 
      *ngxPermissionsOnly="[
          'view_offline_quiz_score',
          'view_class_quiz_score',
          'view_current_level',
          'view_active_status',
          'view_student_level_quiz',
          'view_class_level_quiz',
          'view_online_quiz_score',
          'view_online_class_quiz_score',
          'view_online_current_level',
          'view_online_active_status',
          'view_online_student_level_quiz',
          'view_online_class_level_quiz',
      ]">
        <ul>
          <li nz-submenu nzTitle="Offline" nzIcon="setting" *ngxPermissionsOnly="[
          'view_offline_quiz_score',
          'view_class_quiz_score',
          'view_current_level',
          'view_active_status',
          'view_student_level_quiz',
          'view_class_level_quiz',
          ]">
            <ul>
              <li routerLink="/report/student-completed-quiz" nz-menu-item *ngxPermissionsOnly="['view_offline_quiz_score', 'view_class_quiz_score']">
                <span>Quiz Scores</span>
              </li>
              <li routerLink="/report/student-last-completed-quiz" nz-menu-item *ngxPermissionsOnly="['view_current_level']">
                <span>Current Level</span>
              </li>
              <li routerLink="/report/student-activity" nz-menu-item *ngxPermissionsOnly="['view_active_status']">
                <span>Active Status</span>
              </li>
              <li routerLink="/report/student-level-quiz" nz-menu-item *ngxPermissionsOnly="['view_student_level_quiz', 'view_class_level_quiz']">
                <span>Level Quiz</span>
              </li>
              <!-- <li routerLink="/report/student-grade-progress" nz-menu-item *ngxPermissionsOnly="['view_student']">
                <span>Course Progress</span>
              </li> -->
            </ul>
          </li>
          <li nz-submenu nzTitle="Online" nzIcon="setting" *ngxPermissionsOnly="[
          'view_online_quiz_score',
          'view_online_class_quiz_score',
          'view_online_current_level',
          'view_online_active_status',
          'view_online_student_level_quiz',
          'view_online_class_level_quiz',
          ]">
            <ul>
              <li routerLink="/report/student-completed-quiz/online" [queryParams]="{online: 'true'}" nz-menu-item *ngxPermissionsOnly="['view_online_quiz_score', 'view_online_class_quiz_score']">
                <span>Quiz Scores</span>
              </li>
              <li routerLink="/report/student-last-completed-quiz/online" [queryParams]="{online: 'true'}" nz-menu-item *ngxPermissionsOnly="['view_online_current_level']">
                <span>Current Level</span>
              </li>
              <li routerLink="/report/student-activity/online" [queryParams]="{online: 'true'}" nz-menu-item *ngxPermissionsOnly="['view_online_active_status']">
                <span>Active Status</span>
              </li>
              <li routerLink="/report/student-level-quiz/online" [queryParams]="{online: 'true'}" nz-menu-item *ngxPermissionsOnly="['view_online_student_level_quiz', 'view_online_class_level_quiz']">
                <span>Level Quiz</span>
              </li>
              <!-- <li routerLink="/report/student-grade-progress/online" [queryParams]="{online: 'true'}" nz-menu-item *ngxPermissionsOnly="['view_student']">
                <span>Course Progress</span>
              </li> -->
            </ul>
          </li>
          <li routerLink="/report/sync-record" nz-menu-item *ngxPermissionsOnly="['view_sync_record']">
            <i nz-icon nzType="user-add"></i>
            <span>Sync Record</span>
          </li>
        </ul>
      </li>
      <li routerLink="/document/index" nz-menu-item *ngxPermissionsOnly="['view_document']">
        <i nz-icon nzType="file-sync"></i>
        <span>Documents</span>
      </li>
      <li nz-menu-item *ngxPermissionsOnly="['view_subject']">
        <i nz-icon nzType="book"></i>
        <span routerLink="/subject/index">Subject</span>
      </li>
      <li nz-menu-item *ngxPermissionsOnly="['view_curriculum']">
        <i nz-icon nzType="book"></i>
        <span routerLink="/curriculum/index">Curriculum</span>
      </li>
      <li routerLink="/baseline-curriculum/index" nz-menu-item *ngxPermissionsOnly="['view_baseline-endline']">
        <i nz-icon nzType="book"></i>
        <span>Baseline Curriculum</span>
      </li>
      <li routerLink="/grade/index" nz-menu-item *ngxPermissionsOnly="['view_grade']">
        <i nz-icon nzType="book"></i>
        <span>Grade</span>
      </li>
      <li routerLink="/level/index" nz-menu-item *ngxPermissionsOnly="['view_level']">
        <i nz-icon nzType="book"></i>
        <span>Level</span>
      </li>
      <li routerLink="/lesson/index" nz-menu-item *ngxPermissionsOnly="['view_lesson']">
        <i nz-icon nzType="book"></i>
        <span>Lesson</span>
      </li>
      <li routerLink="/question/index" nz-menu-item *ngxPermissionsOnly="['view_question']">
        <i nz-icon nzType="question-circle"></i>
        <span>Questions</span>
      </li>
      <li routerLink="/map/index" nz-menu-item *ngxPermissionsOnly="['view_map']">
        <i nz-icon nzType="apartment"></i>
        <span>Map</span>
      </li>
      <li routerLink="/user/index" nz-menu-item *ngxPermissionsOnly="['view_user', 'superadmin']">
        <i nz-icon nzType="apartment"></i>
        <span>User</span>
      </li>
      <li routerLink="/student/index" nz-menu-item *ngxPermissionsOnly="['view_student']">
        <i nz-icon nzType="team"></i>
        <span>Students</span>
      </li>
      <li routerLink="/teacher/index" nz-menu-item *ngxPermissionsOnly="['view_teacher']">
        <i nz-icon nzType="user-add"></i>
        <span>Teachers</span>
      </li>
      <li routerLink="/feedback/index" nz-menu-item *ngxPermissionsOnly="['view_feedback']">
        <i nz-icon nzType="user-add"></i>
        <span>Feedbacks</span>
      </li>
      <li routerLink="/role-perm/index" nz-menu-item *ngxPermissionsOnly="['view_role', 'superadmin']">
        <i nz-icon nzType="user-add"></i>
        <span>Role Permission</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header>
      <div class="header">
        <div class="nav-wrap">
          <ul class="nav-left">
            <li>
              <span style="font-size: 20px">Plus Learning Management System</span>
            </li>
          </ul>
          <ul class="nav-right">
            <li>
              <span style="font-size: 20px">{{
                user?.firstname || "" + user?.lastname || ""
              }}</span>
            </li>
            <li>
              <button
                nz-button
                nzShape="circle"
                nzNoAnimation
                nz-dropdown
                [nzDropdownMenu]="menu"
              >
                <i
                  nz-icon
                  nzType="user"
                  nzTheme="outline"
                  style="font-size: 20px"
                ></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>Profile</li>
                  <li nz-menu-item><a (click)="logout()">Logout</a></li>
                </ul>
              </nz-dropdown-menu>
            </li>
          </ul>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
