<div nz-row>
  <div nz-col nzSpan="12">
    <nz-card [nzBordered]="true" nzTitle="Lesson" [nzLoading]="dataloading">
      <form nz-form [formGroup]="editForm">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="levelid"
            >Levelid</nz-form-label
          >
          <nz-form-control nzErrorTip="Please select level!">
            <nz-select formControlName="levelid" nzPlaceHolder="Select level">
              <nz-option
                *ngFor="let option of levels"
                [nzLabel]="option.levelname + ' (' + option.gradename + ')'"
                [nzValue]="option.levelid"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lessonname"
            >Lesson Name</nz-form-label
          >
          <nz-form-control nzErrorTip="Please enter lesson name!">
            <grammarly-editor-plugin>
              <input
                type="text"
                nz-input
                formControlName="lessonname"
                placeholder="Enter lesson name"
                (input)="restrictSpecialCharecter()"
              />
            </grammarly-editor-plugin>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lessonorder"
            >Lesson Order</nz-form-label
          >
          <nz-form-control nzErrorTip="Please enter lesson order!">
            <input
              min="1"
              max="100"
              step="1"
              type="number"
              nz-input
              formControlName="lessonorder"
              placeholder="Enter lesson order"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            [nzSm]="6"
            [nzXs]="24"
            nzFor="lessondescription"
            >Lesson Description</nz-form-label
          >
          <nz-form-control nzErrorTip="Please enter lesson description!">
            <grammarly-editor-plugin>
              <textarea
              [maxlength]="80"
                type="text"
                nz-input
                formControlName="lessondescription"
                placeholder="Enter lesson description"
                style="resize: none"
                rows="5"
              >
              </textarea>
            </grammarly-editor-plugin>
          </nz-form-control>
        </nz-form-item>
        <!-- <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="total_points"
            >Total Points</nz-form-label
          >
          <nz-form-control nzErrorTip="Please enter total points!">
            <input
              min="10"
              step="1"
              type="number"
              nz-input
              formControlName="total_points"
              placeholder="Enter total points"
            />
          </nz-form-control>
        </nz-form-item> -->
        <!-- <nz-form-item>
          <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="passing_points"
            >Unlocking Next Lesson Points</nz-form-label
          >
          <nz-form-control nzErrorTip="Please enter unlocking points!">
            <input
              min="1"
              step="1"
              type="number"
              nz-input
              formControlName="passing_points"
              placeholder="Enter lesson unlocking points"
            />
          </nz-form-control>
        </nz-form-item> -->

        <button
          nz-button
          style="float: right;"
          type="button"
          [nzType]="'primary'"
          (click)="submiteditForm()"
        >
          Submit
        </button>
        <!-- <button
          nz-button
          style="float: right; width: 80px; margin-right: 20px;"
          type="button"
          [nzType]="'primary'"
          [routerLink]="['/lesson', 'index']"
          nzDanger
        >
          Back
        </button> -->
      </form>
    </nz-card>
  </div>
</div>
