<div nz-row>
  <div nz-col nzSpan="12">
    <nz-card [nzBordered]="true" nzTitle="User" [nzLoading]="dataloading">
      <form nz-form [formGroup]="createForm" novalidate (ngSubmit)="submitcreateForm()">
        <p class="form-error" role="alert" *ngIf="errors.form">{{ errors.form }}</p>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="staff-lmsusername">User Email</nz-form-label>
          <nz-form-control>
            <input
              id="staff-lmsusername"
              type="text"
              nz-input
              formControlName="lmsusername"
              placeholder="Enter user email"
              autocomplete="off"
              [attr.aria-invalid]="errors.fields.lmsusername ? 'true' : null"
              [attr.aria-describedby]="errors.fields.lmsusername ? 'staff-lmsusername-error' : null"
            />
            <p class="field-error" id="staff-lmsusername-error" role="alert" *ngIf="errors.fields.lmsusername">{{ errors.fields.lmsusername }}</p>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="staff-lmsuserpasswordhash">User Password</nz-form-label>
          <nz-form-control>
            <input
              id="staff-lmsuserpasswordhash"
              type="text"
              nz-input
              formControlName="lmsuserpasswordhash"
              placeholder="Enter user password"
              autocomplete="off"
              [attr.aria-invalid]="errors.fields.lmsuserpasswordhash ? 'true' : null"
              [attr.aria-describedby]="errors.fields.lmsuserpasswordhash ? 'staff-lmsuserpasswordhash-error' : null"
            />
            <p class="field-error" id="staff-lmsuserpasswordhash-error" role="alert" *ngIf="errors.fields.lmsuserpasswordhash">{{ errors.fields.lmsuserpasswordhash }}</p>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="isPlatform">
          <nz-form-label [nzSm]="6" [nzXs]="24" [nzRequired]="!platformAccount" nzFor="staff-organisationid">Organisation</nz-form-label>
          <nz-form-control>
            <nz-select
              nzId="staff-organisationid"
              formControlName="organisationid"
              nzPlaceHolder="Choose an organisation"
              nzShowSearch
              nzAllowClear
              [nzDisabled]="platformAccount"
              [attr.aria-describedby]="errors.fields.organisationid ? 'staff-organisationid-error' : platformAccount ? 'staff-organisationid-note' : null"
            >
              <nz-option
                *ngFor="let org of organisations"
                [nzLabel]="org.organisationname + (org.organisationstatus ? '' : ' (suspended)')"
                [nzValue]="org.organisationid"
              ></nz-option>
            </nz-select>
            <p class="help" id="staff-organisationid-note" *ngIf="platformAccount">{{ noOrganisationNote }}</p>
            <p class="help" *ngIf="organisationsFailed">Couldn't load the organisations. Reload the page to try again.</p>
            <p class="field-error" id="staff-organisationid-error" role="alert" *ngIf="errors.fields.organisationid">{{ errors.fields.organisationid }}</p>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="countryid">Country</nz-form-label>
          <nz-form-control nzErrorTip="Please select country">
            <nz-select
              formControlName="countryids"
              nzPlaceHolder="Select country"
              nzMode="multiple"
              (ngModelChange)="onSelected($event)"
              [nzMaxMultipleCount]="1"
            >
              <nz-option
                *ngFor="let option of countries$ | async"
                [nzLabel]="option.countryname"
                [nzValue]="option.countryid"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="schoolid">School</nz-form-label>
          <nz-form-control nzErrorTip="Please select school">
            <nz-select
              formControlName="schoolids"
              [nzMaxTagPlaceholder]="tagPlaceHolder"
              nzMode="multiple"
              nzPlaceHolder="Please select the school"
              nzAllowClear
              nzShowSearch
              nzServerSearch
              (nzFocus)="onSearchSchool('')"
              (nzOnSearch)="onSearchSchool($event)"
            >
              <nz-option *ngFor="let item of schoolList" [nzLabel]="item.schoolname" [nzValue]="item.schoolid"></nz-option>
            </nz-select>
            <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired id="staff-roles-label">User Roles</nz-form-label>
          <nz-form-control>
            <div class="col-md-12">
              <section
                id="staff-lmsuserroles"
                class="checkbox-section text-center"
                role="group"
                aria-labelledby="staff-roles-label"
                tabindex="-1"
                *ngIf="roles && roles.length > 0"
                formArrayName="lmsuserroles"
              >
                <p *ngFor="let n of roles; let i = index">
                  <label class="role">
                    <input class="checkbox-margin" (change)="updateChkbxArray(n.id, $event, 'lmsuserroles')" type="checkbox" value="{{n.id}}" [checked]="n.checked"/>
                    {{n.text}}
                  </label>
                </p>
              </section>
            </div>
            <p class="field-error" id="staff-lmsuserroles-error" role="alert" *ngIf="errors.fields.lmsuserroles">{{ errors.fields.lmsuserroles }}</p>
          </nz-form-control>
        </nz-form-item>

        <button
          #submitButton
          nz-button style="float: right;"
          type="submit"
          [nzType]="'primary'"
          [disabled]="submitting"
        >
          Submit
        </button>
      </form>
    </nz-card>
  </div>
</div>
